# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CppND-Route-Planning-Project
CppND-Route-Planning-Project/draw.cpp
CppND-Route-Planning-Project/test.cpp
CppND-Route-Planning-Project/build/
CppND-Route-Planning-Project/bin/
CppND-Route-Planning-Project/lib/

